
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>PPC WEBSITE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/Content/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Sarabun:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/css/flaticon.css" />
    <link rel="stylesheet" href="/Content/css/magnific-popup.css" />
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="styles/responsive.css">

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="/Content/css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <!-- logo -->
        <a href="index.html" class="site-logo">
            <img src="~/Content/img/logo.png" alt="">
        </a>
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <div class="container">
            <ul class="main-menu">
                <li><a href="#">TRANG CHỦ</a></li>
                <li><a href="#">DỰ ÁN</a></li>
                <li><a href="#">LỊCH SỬ</a></li>
                <li><a href="#">TIN TỨC</a></li>
                <li><a href="#">LIÊN HỆ</a></li>
            </ul>
        </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="hero-section">
        <div class="hero-social-warp">
            <div class="hero-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="hero-slider owl-carousel owl-theme">
            <div class="hs-item set-bg" data-setbg="/Content/img/slider/1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <h2>Căn hộ hạng sang cao cấp.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/Content/img/slider/2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <h2>Biệt thự hiện đại sang chảnh.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/Content/img/slider/3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <h2>Villa hấp dẫn say đắm lòng người.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero details slider -->
        <div class="hero-nav-slider-warp">
            <div class="container">
                <div class="hero-nav-slider owl-carousel">
                    <div class="hns-item">
                        <h5>Phiên bản 3 phòng ngủ</h5>
                        <p>Hoàn thành vào tháng 3 2019</p>
                        <span>3,335,000,000 VNĐ</span>
                    </div>
                    <div class="hns-item">
                        <h5>Phiên bản 4 phòng ngủ có hồ bơi </h5>
                        <p>Hoàn thành vào tháng 3 2019</p>
                        <span>8,125,000,000 VNĐ</span>
                    </div>
                    <div class="hns-item">
                        <h5>Phiên bản 6 phòng ngủ có hồ bơi</h5>
                        <p>Hoàn thành vào tháng 3 2019</p>
                        <span>15,650,000,000 VNĐ</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- Home Search -->
    <div class="home_search">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_search_container">
                        <div class="home_search_content">
                            <form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">
                                <div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
                                    <div>
                                        <select class="search_form_select">
                                            <option disabled selected>Hình thức</option>
                                            <option>Thuê</option>
                                            <option>Mua</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="search_form_select">
                                            <option disabled selected>Loại</option>
                                            <option>Căn hộ</option>
                                            <option>Biệt thự</option>
                                            <option>Villa</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="search_form_select">
                                            <option disabled selected>Thành phố</option>
                                            <option>Hồ Chí Minh</option>
                                            <option>Hà Nội</option>
                                            <option>Đà Lạt</option>
                                            <option>Đà Nẵng</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="search_form_select">
                                            <option disabled selected>Phòng ngủ</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select class="search_form_select">
                                            <option disabled selected>Phòng tắm</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="search_form_button ml-auto">TÌM KIẾM</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Home Search End-->
    <!--Render-->
    @RenderBody()
    <!--Render END-->
    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-2 col-sm-12">
                    <div class="footer-widget">
                        <img src="~/Content/img/log_color.png" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h5>CÔNG TY</h5>
                        <ul>
                            <li><a href="">Văn phòng</a></li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h5>HỢP PHÁP</h5>
                        <ul>
                            <li><a href="">CÁC TÀI LIỆU</a></li>
                            <li><a href="">CÁCH MUA NHÀ</a></li>
                            <li><a href="">ĐIỀU KHOẢN & ĐIỀU KIỆN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h5>MẠNG XÃ HỘI</h5>
                        <div class="footer-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end-->
    <!--====== Javascripts & Jquery ======-->
    <script src="/Content/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/js/main.js"></script>

</body>
</html>
