
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <!--Contact-->
    <link rel="stylesheet" type="text/css" href="/Content/Contact/styles/bootstrap4/bootstrap.min.css">
    <link href="/Content/Contact/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/Content/Contact/plugins/rangeslider.js-2.3.0/rangeslider.css">
    <link rel="stylesheet" type="text/css" href="/Content/Contact/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="/Content/Contact/styles/contact_responsive.css">
    <!-- Contact -->

    <div class="contact">
        <div class="container">
            <div class="row">

                <!-- Contact Info -->
                <div class="col-lg-4">
                    <div class="contact_info">
                        <div class="section_title">Liên Hệ Với Chúng Tôi</div>
                        <div class="section_subtitle">Thông tin liên hệ</div>
                        <div class="contact_info_content">
                            <ul class="contact_info_list">
                                <li>
                                    <div>Địa chỉ:</div>
                                    <div>Đại Học Văn Lang</div>
                                </li>
                                <li>
                                    <div>Số Điện Thoại:</div>
                                    <div>0977077770</div>
                                </li>
                                <li>
                                    <div>Email:</div>
                                    <div>PPC@BDS.COM.VN</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-lg-8">
                    <div class="contact_form_container">
                        <form action="#" class="contact_form" id="contact_form">
                            <div class="row">
                                <!-- Name -->
                                <div class="col-lg-6 contact_name_col">
                                    <input type="text" class="contact_input" placeholder="Họ và tên" required="required">
                                </div>
                                <!-- Email -->
                                <div class="col-lg-6">
                                    <input type="email" class="contact_input" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div><input type="text" class="contact_input" placeholder="Chủ đề"></div>
                            <div><textarea class="contact_textarea contact_input" placeholder="Tin nhắn..." required="required"></textarea></div>
                            <button class="contact_button button">GỬI</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="contact_map">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7902422080133!2d106.70106501533434!3d10.827358161210967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175288ad78aea3d%3A0x832872254782586d!2zxJDhuqFpIGjhu41jIFbEg24gTGFuZyBjxqEgc-G7nyAz!5e0!3m2!1svi!2s!4v1573977431517!5m2!1svi!2s" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
