
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="developments-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/1.jpg" alt="">
                    <div class="dev-text">
                        <h4>COLD VALLEY Estates </h4>
                        <h5>
                            37 Brooklyn,NewYork,USA<h5>
                                <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua. </p>
                                <div class="dev-price">
                                    <span>Giá Bán</span>
                                    <h4>33,064,000,000 VNĐ</h4>
                                </div>
                                <a href="" class="site-btn">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/2.jpg" alt="">
                    <div class="dev-text">
                        <h4>amazing residence</h4>
                        <h5>855 Terry A Francois Blvd, San Francisco, CA 94158,USA </h5>
                        <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua. </p>
                        <div class="dev-price">
                            <span>Giá Bán</span>
                            <h4>39,999,000,000 VNĐ</h4>
                        </div>
                        <button class="site-btn sb-solid">BÁN HẾT</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/3.jpg" alt="">
                    <div class="dev-text">
                        <h4>cube houses</h4>
                        <h5>1724 San Pablo Ave, Berkeley, CA 94702,USA</h5>
                        <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua. </p>
                        <div class="dev-price">
                            <span>Giá Bán</span>
                            <h4>24,000,000,000 VNĐ</h4>
                        </div>
                        <button class="site-btn sb-fade">SẮP TỚI</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/4.jpg" alt="">
                    <div class="dev-text">
                        <h4>port way</h4>
                        <h5>3465  Elk City Road</h5>
                        <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua.</p>
                        <div class="dev-price">
                            <span>Giá Bán</span>
                            <h4>10,233,000,000 VNĐ</h4>
                        </div>
                        <a href="" class="site-btn">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/5.jpg" alt="">
                    <div class="dev-text">
                        <h4>lux estates</h4>
                        <h5>76 Lê Lai, Phường Bến Thành, Quận 1, Hồ Chí Minh</h5>
                        <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua.</p>                            <div class="dev-price">
                            <span>Giá Bán</span>
                            <h4>53,000,000,000 VNĐ</h4>
                        </div>
                        <a href="" class="site-btn">CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="development-box">
                    <img src="/Content/img/developments/6.jpg" alt="">
                    <div class="dev-text">
                        <h4>sunset road</h4>
                        <h5>1600 Sacramento St, Berkeley, CA 94702, USA</h5>
                        <p>Căn hộ được thiết kế với cấu trúc hiện đại.Với không gian thoáng mát kèm những tiện ích không thể bỏ qua.</p>
                        <div class="dev-price">
                            <span>Giá Bán</span>
                            <h4>60,000,000,000 VNĐ</h4>
                        </div>
                        <a href="" class="site-btn">CHI TIẾT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Developments section end-->
