@using LuxuryHome.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Property>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section newscss{
    <link rel="stylesheet" type="text/css" href="~/Content/news.css">
    <link rel="stylesheet" type="text/css" href="~/Content/news_responsive.css">
}

@section newss{
    <script src="~/Scripts/js/news.js"></script>
}
<!-- News -->

<div class="news">
    <div class="container">
        <div class="row">

          
                <!-- News Posts -->
                <div class="col-lg-8">
                    <div class="news_posts">
                        @{
                            var result = 0;
                            var count = 1;
                        }
                        @foreach (var item in Model)
                        {
                            if (count < item.ID)
                            {
                                result = count;
                                count++;
                            }
                            <!-- News Post -->

                            <div class="news_post">
                                <div class="news_post_title_container d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="news_post_date_container d-flex flex-column align-items-center justify-content-center">
                                            <div class="news_post_day">
                                                @result
                                            </div>
                                            <div class="news_post_month"></div>
                                        </div>
                                    </div>
                                    <div class="news_post_title_content">
                                        <div class="news_post_title"><a href="@Url.Action("propertyDetails","Home",new {@id = item.ID })">@item.Property_Name</a></div>
                                    </div>
                                </div>
                                <div class="news_post_image"><img src="~/Images/@item.Avatar" alt="" width="400px" height="300px"></div>
                                <div class="news_post_text">
                                    <p>@item.Description</p>
                                </div>


                            </div>
                        }
                        <!-- Pagination -->
                        @Html.PagedListPager(Model, page => Url.Action("News", new { page, @class = "phantrang" }))
                    </div>
                </div>
            </div>
    </div>
</div>
